h1{
    background-color: aqua;
    color: black;
    font-size: 30px;
    width: 50%;
}
h1[id]{
    background-color: blueviolet;
    color: white;
}

h1[class]{
    background-color: lightcyan;
    color: black;
}
input{
       width: 50%;
       height: 50px;
}
input[type]{
    background-color: beige;
    color: black;
    font-size: 30px;
}
input[placeholder]{
        background-color:lightblue;
        color:black
    }
p{
    font-size:50px ;
    background-color: violet;
    color: black;
}
p[id]{
    background-color: brown;
    color: beige;
}
p[class]{
     background-color: blue;
     color:white;
}