*{
    margin: 0px;
    padding: 0px;
}

.hero3{
    height: 500px;
    width: 500px;
    background-image: linear-gradient(45deg,red 15%,transparent,transparent,transparent,green 90%),linear-gradient(135deg,purple 15%,transparent,transparent,transparent,maroon 80%),url(../../assets/images/NBalakrishnan295x200_x.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}